<.flash_group flash={@flash} />

<main class="mx-auto">
  Welcome to my site! This is a playground for me to learn elixir phoenix by recreating NYT Games! See the list of games at the top in the header
</main>
